.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

  .Register-Admin{
    
  }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Header{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.Administration{
  display: flex;
  align-items: center;
  justify-content: center;
  border-spacing: 10px;

}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 10px;

}

P.blocktext {
  color: white;
  margin: 20px 80px 20px;
  font-size: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
